.app-container {
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option-list {
    padding: 18px 10px;
}

.option-list .option {
    border: 1px solid #151d38;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}